/* App.css */

* {
	color: black;
}

.app-container {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: auto;
	margin-top: 50px;
}

.input-field {
	margin-bottom: 10px;
	padding: 8px;
}

.button {
	padding: 8px;
}

.message {
	margin-top: 10px;
}
