.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;

  -webkit-user-select: none;
  user-select: none;

  background-color: #e5e7eb;
  color: #374151;

  overflow: hidden; // IMPORTANT for circular images
}

.avatar--sm {
  width: 32px;
  height: 32px;
  font-size: 0.75rem;
}

.avatar--md {
  width: 40px;
  height: 40px;
  font-size: 0.875rem;
}

.avatar--lg {
  width: 56px;
  height: 56px;
  font-size: 1.125rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
